<div class="about">
    <div class="about__container">
        <div class="about__header">
            <h3 class="about__title">Sobre a Agro Spi</h3>
        </div>
        <div class="about__main">
            <div class="about__text">
                <p>A AgroSPI é uma plataforma que gera oportunidades para quem trabalha no campo e o desenvolve tecnologias em produtos e bicos de pulverização específicos para uma aplicação sustentável e de qualidade.</p>
                <p>Simultaneamente visando oferecer tecnologias e soluções agrícolas alternativas que ajudam a garantir boa produtividade da cultura implantada.</p>
            </div>
        </div>
    </div>
</div>