<div class="warnings">
    <div class="warnings__container">
        <div class="warnings__header">
            <h3 class="warnings__title">
                <svg class="ico z-alert"><use xlink:href="#z-alert" /></svg>
                <span>ADVERTÊNCIAS: PROTEÇÃO À SAÚDE HUMANA, ANIMAL E AO MEIO AMBIENTE</span>
            </h3>
        </div>
        <div class="warnings__main">
            <ul class="warnings__list">
                <li class="warnings__item">Consulte sempre um agrônomo;</li>
                <li class="warnings__item">Venda sob receituário agronômico;</li>
                <li class="warnings__item">Informe-se e realize manejo integrado de pragas;</li>
                <li class="warnings__item">Leia atentamente e siga as instruções contidas no rotulo, na bula e na receita;</li>
                <li class="warnings__item">Utilize os equipamentos de proteção individual (EPIs).</li>
                <li class="warnings__item">Atenção: produtos perigosos à saúde humana, animal e ao meio ambiente;</li>
                <li class="warnings__item">Descarte corretamente as embalagens e os restos dos produtos;</li>
                <li class="warnings__item">Uso agrícola;</li>
            </ul>
        </div>
    </div>
</div>