
@media (max-width: 992px)
    .categories
        &__show
            display: flex
            order: -1
            justify-content: center
            align-items: center
            padding: 0
            width: 50px
            height: 50px
            background: #fff
            color: var(--secundary)

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: rgba(255, 255, 255, .1)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media (min-width: 993px)
    .categories
        flex: 1
        margin-bottom: 0 !important
        min-width: 0
        background: var(--primary)

        .ul--0
            padding: 8px 0

        .a--0
            height: 40px
            border-radius: 3px
            color: var(--primary-contrast)
            text-transform: uppercase
            white-space: nowrap
            font-weight: bold
            font-size: 14px

        .li--0:not(.categories__all)
            .box--1
                padding: 35px

                &:before
                    position: absolute
                    max-width: 256px
                    height: 30px
                    color: var(--primary)
                    content: attr(data-name)
                    text-transform: uppercase
                    letter-spacing: 1px
                    font-weight: bold
                    font-size: 18px

                .ul--1
                    padding-top: 30px

        .li--0
            order: 1

            &:hover .a--0
                background: var(--secundary)
                color: var(--secundary-contrast)

            &.categories__all
                .a--0
                    padding-left: 0

                    span
                        display: inline-block
                        padding: 10px
                        border-radius: 3px
                        background: var(--primary-hover)
                        line-height: 1

                &:hover
                    .a--0
                        background: none

                .box--1
                    top: 46px

        .a--1
            padding-right: 0
            padding-left: 0
            color: var(--secundary)
            text-transform: uppercase
            font-weight: medium
            font-size: 12px

        &__all
            order: 2

        &__products
            padding: 0
            border: 0

            .title, .price-box, .price-box-parcelado, .product-rate
                display: none

            .product__name
                color: var(--products-color)
                font-weight: regular
                font-size: 14px

        .all-a--0, .all-a--1
            &:hover
                box-shadow: none

        .all-a--0
            text-transform: uppercase

        .all-a--1
            color: var(--secundary)
            text-transform: uppercase
            font-weight: medium
            font-size: 12px