.logout
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 10px 20px
    border-radius: 4px
    background: var(--secundary)
    color: #fff
    font-weight: medium
    font-size: 12px
    line-height: 1.2

    .user-logged &
        display: none

    a
        display: block
        color: #ffdd3d
        font-weight: bold

    .ico
        margin-right: 10px
        width: 26px
        height: 26px