
.price-box
    margin-bottom: 0

    .regular-price, .special-price
        .label, .price
            span
                color: var(--secundary)
                font-weight: medium
                font-size: 18px

    .old-price
        .label, .price
            span
                font-weight: medium
                font-size: 14px

.price-box-parcelado
    .preco-parcelado
        --color: #6e828f

        &, .num span, .value span
            color: var(--color)
            font-weight: medium
            font-size: 14px